.background {
    background-image: url("https://res.cloudinary.com/dhlsr9ubv/image/upload/v1764132085/FINAL_f58hio.jpg");
    height: 100VH;
    background-size: cover;
}

.text {
    text-align: center;
    margin-bottom: 10PX;
    background-color: transparent;
    border-radius: 10px;
    font-family: "Lobster";
    color: white;

}

.font {
    font-size: 27px;
}

.image {
    height: 30px;
    width: 190px;

}

.background2 {
    background-image: linear-gradient(to right, white, white);
    height: 10vh;
    background-size: cover;
}

.list {
    height: 100px;
    margin: 5px;
}

.margin {
    margin: 10px;
}

.background3 {
    background-color: white;
    height: 100vh;
    background-size: cover;
}

.text1 {
    font-family: "Grained";
    margin: 10px;

}

.cart {
    text-align: center;
}

.long {
    height: 250px;
    width: 200px;
    border-radius: 10px;
}

.fon {
    font-family: "Sans-Serif";
    margin: 10px;
}

.mar {
    margin-bottom: 20px;
    margin-top: 20px;
}